@import '../variables';

.btn {
  @include font(12px, 500px, normal, #fff);
  background-color: $main-color-red;
  text-align: center;
  vertical-align: center;
  padding: 5px;
  text-transform: uppercase;
  border-radius: 5px;
}
