@import '../variables';
.cert {
  @include flex-center();
  margin-bottom: 20px;

  &__title {
    @include font(20px, 400, normal, $main-color-dgray);
    text-transform: uppercase;
    text-align: center;
    margin: 0 10px 20px;
    padding: 20px 0 0;
  }

  &__item {
    position: relative;
  }

  &__item + &__item {
    margin-left: 50px;
  }

  &__icon {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: -6px;
  }
}
