@import '../variables';
.contacts {
  position: absolute;
  top: calc(#{-$header-mobil-top-padding} + 4px);
  left: -$header-mobil-topHalf-padding;
  box-sizing: border-box;
  width: 125px;
  overflow: hidden;
  height: $header-mobil-top-padding;
  margin-left: auto;
  @include flex();
  flex-direction: column;

  &__number {
    @include font(14px, 500, normal, #fff);
    order: -2;
    text-align: right;
  }

  &__description {
    margin-left: auto;
    @include font(12px, 500, normal, $main-color-dgray);
    margin-bottom: 5px;
    text-align: right;
  }

  &__description--adress {
    order: -1;
    margin-left: auto;
    @include font(12px, 400, normal, $main-color-dgray);
    margin-bottom: 5px;
    min-width: 120px;
  }

  &__btn {
    order: 2;
    margin-left: auto;
  }
}
