@import '../variables';
.contacts {
  padding: $header-mobil-top-padding;
  margin-left: auto;
  @include flex();
  flex-direction: column;
  position: relative;

  &__number {
    @include font(14px, 500, normal, $main-color-dgray);
    order: -2;
    margin-bottom: 5px;
    text-align: right;
  }

  &__description {
    margin-left: auto;
    @include font(12px, 500, normal, $main-color-dgray);
    margin-bottom: 5px;
    text-align: right;
  }

  &__description--adress {
    order: -1;
    margin-left: auto;
    @include font(12px, 400, normal, $main-color-dgray);
    margin-bottom: 5px;
    min-width: 120px;
  }

  &__btn {
    order: 2;
    margin-left: auto;
  }
}
