@import '../variables';
.contacts {
  position: absolute;
  width: 100%;
  left: 0;
  top: calc(#{-$header-mobil-top-padding} + 6px);
  box-sizing: border-box;
  overflow: hidden;
  max-height: $header-mobil-top-padding;
  @include flex();
  justify-content: flex-start;
  padding: 0 10px;
  &__number {
    @include font(12px, 500, normal, #fff);
    order: -2;
    text-align: left;
    @include inline-block();
  }

  &__description {
    margin: 0 0 5px auto;
    @include font(12px, 500, normal, #fff);
    text-align: right;
    @include inline-block();
  }

  &__description--time {
    order: -1;
  }

  &__description--adress {
    margin-top: 20px;
    width: 100%;
  }
}
