@import '../variables';
.main-nav {
  order: -1;
  display: flex;
  flex-direction: column;
  padding: $header-mobil-top-padding;
  min-height: 37px;
  margin-right: 20px;
  &__wrapper {
    max-width: 768px;
    margin: 0 auto;
    @include flex();
  }

  &__logo {
    display: none;
  }

  &__menu-wrapper {
    order: -1;
    @include flex-center();
  }

  &__wrapper input {
    display: none;
  }

  &__wrapper input:checked ~ &__items{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }

  &__wrapper label {
    display: block;
    font-size: 0;
    width: 30px;
    height: 2px;
    position: relative;
    background: linear-gradient(to right,$main-color-red 60%, transparent 60%, transparent 70%, $main-color-red 70%);
    cursor: pointer;
    box-shadow:
            0 -8px 0 $main-color-red,
            0 8px 0 $main-color-red,
  }

  &__wrapper label::after {
    content: "";
    display: block;
    position: absolute;
    background-color: transparent;
    width: 30px;
    height: 14px;
    top: -6.5px;
    left: 0;
  }

  &__wrapper input:checked ~ label {
    background-color: transparent;
    box-shadow: none;
    height: 14px;
    margin: 6px 0 0;
  }

  &__wrapper input:checked ~ label::before,
  &__wrapper input:checked ~ label::after {
    content: "";
    display: block;
    position: absolute;
    background-color: $main-color-red;
    width: 20px;
    height: 2px;
    top: 6px;
    left: 0;
    transform-origin: center;
  }

  &__wrapper input:checked ~ label::before {
    transform: rotate(-45deg);
  }

  &__wrapper input:checked ~ label::after {
    transform: rotate(45deg);
  }

  &__abbr {
    @include font(26px, 600, normal, $main-color-dgray);
    padding-left: 10px;
  }

  &__items {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: $main-color-gray;
    z-index: 100;
    border-radius: 0 0 17px 17px;
    width: calc(100% - 50px);
    min-height: 100%;
  }

  &__item {
    margin-bottom: 5px;
  }

  &__link {
    text-decoration: none;
    @include font(16px, 20px, normal, #858585);
  }

  &__link:hover {
    color: #000;
  }
}
