@import "../variables";
.news {
  padding-left: 45px;
  margin-bottom: 20px;
  &__title {
    @include font(20px, 400, normal, $main-color-dgray);
    text-transform: uppercase;
    margin: 0 10px;
    padding: 20px 0 0;
  }

  & > a {
    @include font(10px, 400, normal, $main-color-dgray);
    @include inline-block();
    text-transform: uppercase;
    text-decoration: underline;
    margin: 0 10px 10px;
    padding-bottom: 2px;
  }

  &__icon {
    position: relative;
    right: -4px;
  }
}
