@import '../variables';
.page-main {

  &__wrapper {
    @include mobil-wrapper();
  }

  &__title {
    @include flex-center();
    text-align: center;
    flex-direction: column;
    margin-bottom: 30px;
  }

  &__title > span {
    @include font(26px, 400, normal, $main-color-dgray);
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  &__title > strong {
    @include font(14px, 400, normal, $main-color-dgray);
  }

  &__record {
    @include font(14px, 400, normal, $main-color-dgray);
    text-align: center;
    display: block;
    max-width: 280px;
    box-sizing: border-box;
    padding: 10px 10px 10px 34px;
    margin: 0 auto 20px;
    position: relative;
    border-radius: 10px;
    border: 1px solid $main-color-border;
  }

  &__record > b{
    @include font(14px, 500, normal, #000);
  }

  &__record::before {
    content: '';
    display: block;
    position: absolute;
    left: 10px;
    background: #fff url('../../src/img/record@1x.png') 50% 50% no-repeat;
    @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background: #fff url('../../src/img/record@2x.png') 50% 50% no-repeat;
      background-size: 20px 16px;
    }
    width: 20px;
    height: 16px;
  }

  &__cert {
    display: block;
    width: 100%;
    text-align: center;
  }

  &__cert + &__cert {
    margin-top: 20px;
  }

  &__items {
    padding: 0 15px;
    margin-bottom: 20px;
  }

  &__item {
    background: linear-gradient(160deg, #ffffff 45%, #C8C6C7 100%);
    border-radius: 10px;
    @include flex();
    max-width: 300px;
    margin: auto;
  }

  &__item + &__item {
    margin-top: 20px;
  }

  &__item-wrapper {
    @include flex-center();
    flex-direction: column;
    width: 160px;
    text-overflow: ellipsis;
  }

  &__item > img {
    order: -1;
    align-self: flex-start;
  }

  &__item-wrapper > h3 {
    @include font(14px, 400, normal, $main-color-dgray);
    align-self: center;
    margin-bottom: 16px;
    position: relative;
  }

  &__item-wrapper > h3::before {
    content: '';
    display: block;
    position: absolute;
    width: calc(100% - 20px);
    height: 2px;
    left: 10px;
    bottom: -2px;
    border-bottom: 1px dashed $main-color-dgray;
  }

  &__route-items {
    margin-bottom: 20px;
    padding-left: 60px;
  }

  &__route-item {
    @include font(14px, 400, normal, $main-color-dgray);
    text-align: center;
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    padding-left: 25px;
    min-height: 20px;
  }

  &__route-item > b {
    @include font(14px, 500, normal, #000);
  }

  &__icon {
    position: absolute;
    bottom: 2px;
    left: 0;
  }
}

