@import '../variables';
.page-header {
  margin-bottom: 30px;
  &__wrapper {
    @include mobil-wrapper();
    @include flex();
  }

  &__title {
    order: -1;
    flex-grow: 1;
    padding-left: 30px;
    @include font(12px, 500, normal, $main-color-gray);
    position: relative;
  }

  &__title > mark {
    background: none;
    color: $main-color-red;
  }
}
